# ü¶æ Pandas Practice Session

## üí° What is Pandas ?

![pandas](https://i.redd.it/c6h7rok9c2v31.jpg)

**Pandas** is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

In [10]:
import numpy as np
import pandas as pd

## Create Dataframe üî≥

### Question 1

Membuat dataframe dengan 3 kolom yaitu x,y dan z. memiliki data berurutan dari setiap kolom angka 1 sampai 15

**Answer** ‚¨áÔ∏è

In [3]:
data = {
    'x': list(range(1, 6)),
    'y': list(range(6, 11)),
    'z': list(range(11, 16))
}
df = pd.DataFrame(data)
df

   x   y   z
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

### Question 2
Menambahkan kolom 'v' yang memiliki nilai data kebawah yaitu 16-20

In [11]:
df['v'] = [x for x in range(16,21)]
df

   x   y   z   v     f
0  1   6  11  16   Low
1  2   7  12  17   Low
2  3   8  13  18   Low
3  4   9  14  19  High
4  5  10  15  20  High

**Answer** ‚¨áÔ∏è

## Selection & indexing ü§ö

### Question 1
Dapatkan kolom dari 'x' dan 'y'

**Answer** ‚¨áÔ∏è

In [12]:
df[['x', 'y']]

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

### Question 2
Dapatkan data dengan index 2 dan hanya kolom 'x' dan 'y' saja

In [13]:
df[['x', 'y']].loc[[2]]

   x  y
2  3  8

**Answer** ‚¨áÔ∏è

### Question 3
Seleksi data yang memiliki nilai lebih dari 13

**Answer** ‚¨áÔ∏è

In [7]:
df[df>13]

    x   y     z   v
0 NaN NaN   NaN  16
1 NaN NaN   NaN  17
2 NaN NaN   NaN  18
3 NaN NaN  14.0  19
4 NaN NaN  15.0  20

## Data Manipulation üßô

### Question 1
Buat kolom baru nama 'f' yaitu dengan menggunakan nilai dari kolom 'v' apakah lebih besar dari 18 atau tidak

**Answer** ‚¨áÔ∏è

In [8]:
lst = []
for i in df['v']:
    if i > 18:
        temp = 'High'
    else:
        temp = 'Low'
    lst.append(temp)
df['f'] = lst
df

   x   y   z   v     f
0  1   6  11  16   Low
1  2   7  12  17   Low
2  3   8  13  18   Low
3  4   9  14  19  High
4  5  10  15  20  High

### Question 2
Hapus kolom 'y'

**Answer** ‚¨áÔ∏è

In [14]:
df.drop('y', axix='columns', inplace=True)
df

TypeError: DataFrame.drop() got an unexpected keyword argument 'axix'

### Question 3
Urutkan data berdasarkan kolom 'v' secara descending

   x   z   v     f
4  5  15  20  High
3  4  14  19  High
2  3  13  18   Low
1  2  12  17   Low
0  1  11  16   Low

**Answer** ‚¨áÔ∏è

In [22]:
df.sort_values('v',ascending=False)
df

   x   y   z   v     f
0  1   6  11  16   Low
1  2   7  12  17   Low
2  3   8  13  18   Low
3  4   9  14  19  High
4  5  10  15  20  High

## Data Read üëÅÔ∏è

### Question 1
Read csv file

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith

**Answer** ‚¨áÔ∏è

In [1]:
pd.read_csv('../../csv/username.csv')

NameError: name 'pd' is not defined

### Question 2
read excel file 'customer.xls'

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

**Answer** ‚¨áÔ∏è

In [ ]:

pd.read_excel('data/username.xls')

### Question 3
read excel file 'customer.xls' sheet 2

In [24]:
pd.read_csv('data/customer.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/customer.csv'

**Answer** ‚¨áÔ∏è